<footer class="footer footer-center p-10 bg-base-200 text-base-content">
    <nav class="grid grid-flow-col gap-4">
        <a href="/wwwroot/index.html" class="link link-hover">Home</a>
        <a href="/wwwroot/pages/about.html" class="link link-hover">About</a>
        <a href="/wwwroot/index.html#services" class="link link-hover">Services</a>
        <a href="/wwwroot/index.html#contact" class="link link-hover">Contact</a>
    </nav>
    <nav>
        <div class="grid grid-flow-col gap-4">
            <a href="#" class="link" aria-label="Twitter">
                <i class="fa-brands fa-twitter text-2xl"></i>
            </a>
            <a href="#" class="link" aria-label="Facebook">
                <i class="fa-brands fa-facebook text-2xl"></i>
            </a>
            <a href="#" class="link" aria-label="Instagram">
                <i class="fa-brands fa-instagram text-2xl"></i>
            </a>
            <a href="#" class="link" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin text-2xl"></i>
            </a>
        </div>
    </nav>
    <aside>
        <p class="font-semibold">
            <i class="fa-solid fa-palette"></i>
            BBA Design
        </p>
        <p>© 2025 BBA Design. All rights reserved.</p>
    </aside>
</footer>
