<header class="navbar bg-base-100 shadow-lg">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <i class="fa-solid fa-bars text-xl"></i>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-10 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/wwwroot/index.html"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/wwwroot/pages/about.html"><i class="fa-solid fa-info-circle"></i> About</a></li>
                <li><a href="/wwwroot/pages/components.html"><i class="fa-solid fa-cube"></i> Components</a></li>
                <li><a href="/wwwroot/index.html#services"><i class="fa-solid fa-briefcase"></i> Services</a></li>
                <li><a href="/wwwroot/index.html#contact"><i class="fa-solid fa-envelope"></i> Contact</a></li>
            </ul>
        </div>
        <a href="/wwwroot/index.html" class="btn btn-ghost normal-case text-xl">
            <i class="fa-solid fa-palette"></i>
            BBA Design
        </a>
    </div>
    <nav class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/wwwroot/index.html"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/wwwroot/pages/about.html"><i class="fa-solid fa-info-circle"></i> About</a></li>
            <li><a href="/wwwroot/pages/components.html"><i class="fa-solid fa-cube"></i> Components</a></li>
            <li><a href="/wwwroot/index.html#services"><i class="fa-solid fa-briefcase"></i> Services</a></li>
            <li><a href="/wwwroot/index.html#contact"><i class="fa-solid fa-envelope"></i> Contact</a></li>
        </ul>
    </nav>
    <div class="navbar-end">
        <button class="btn btn-primary">
            <i class="fa-solid fa-user"></i>
            Get Started
        </button>
    </div>
</header>
